<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoniu.dataplatform.ruleengine.mapper.ruleengine.KeywordMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoniu.dataplatform.ruleengine.entity.Keyword" >
    <id column="f_auto_id" property="fAutoId" jdbcType="INTEGER" />
    <result column="f_app_id" property="fAppId" jdbcType="VARCHAR" />
    <result column="f_type" property="fType" jdbcType="VARCHAR" />
    <result column="f_keyword_list" property="fKeywordList" jdbcType="VARCHAR" />
    <result column="f_create_time" property="fCreateTime" jdbcType="TIMESTAMP" />
    <result column="f_create_user" property="fCreateUser" jdbcType="VARCHAR" />
    <result column="f_update_time" property="fUpdateTime" jdbcType="TIMESTAMP" />
    <result column="f_update_user" property="fUpdateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_auto_id, f_app_id, f_type, f_keyword_list, f_create_time, f_create_user, f_update_time, 
    f_update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_keyword
    where f_auto_id = #{fAutoId,jdbcType=INTEGER}
  </select>

  <select id="queryKeywordsByPage" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from t_keyword
    where 1=1
    <if test="type != null and type != ''">
      and  instr(f_type,#{type}) > 0
    </if>
    <if test="keyword != null and keyword != ''">
      and  instr(f_keyword_list,#{keyword}) > 0
    </if>
    and f_app_id =#{appId}
    order by f_type
    limit #{pageNum},#{pageSize}
  </select>

  <select id="queryKeywordsCount"  resultType="Integer" parameterType="map">
    select
    count(*)
    from t_keyword
    where 1=1
    <if test="type != null and type != ''">
      and  instr(f_type,#{type}) > 0
    </if>
    <if test="keyword != null and keyword != ''">
      and  instr(f_keyword_list,#{keyword}) > 0
    </if>
    and f_app_id =#{appId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_keyword
    where f_auto_id = #{fAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoniu.dataplatform.ruleengine.entity.Keyword" >
    insert into t_keyword (f_auto_id, f_app_id, f_type, 
      f_keyword_list, f_create_time, f_create_user, 
      f_update_time, f_update_user)
    values (#{fAutoId,jdbcType=INTEGER}, #{fAppId,jdbcType=VARCHAR}, #{fType,jdbcType=VARCHAR}, 
      #{fKeywordList,jdbcType=VARCHAR}, #{fCreateTime,jdbcType=TIMESTAMP}, #{fCreateUser,jdbcType=VARCHAR}, 
      #{fUpdateTime,jdbcType=TIMESTAMP}, #{fUpdateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoniu.dataplatform.ruleengine.entity.Keyword" >
    insert into t_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fAutoId != null" >
        f_auto_id,
      </if>
      <if test="fAppId != null" >
        f_app_id,
      </if>
      <if test="fType != null" >
        f_type,
      </if>
      <if test="fKeywordList != null" >
        f_keyword_list,
      </if>
      <if test="fCreateTime != null" >
        f_create_time,
      </if>
      <if test="fCreateUser != null" >
        f_create_user,
      </if>
      <if test="fUpdateTime != null" >
        f_update_time,
      </if>
      <if test="fUpdateUser != null" >
        f_update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fAutoId != null" >
        #{fAutoId,jdbcType=INTEGER},
      </if>
      <if test="fAppId != null" >
        #{fAppId,jdbcType=VARCHAR},
      </if>
      <if test="fType != null" >
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fKeywordList != null" >
        #{fKeywordList,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null" >
        #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreateUser != null" >
        #{fCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="fUpdateTime != null" >
        #{fUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fUpdateUser != null" >
        #{fUpdateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoniu.dataplatform.ruleengine.entity.Keyword" >
    update t_keyword
    <set >
      <if test="fAppId != null" >
        f_app_id = #{fAppId,jdbcType=VARCHAR},
      </if>
      <if test="fType != null" >
        f_type = #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fKeywordList != null" >
        f_keyword_list = #{fKeywordList,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null" >
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreateUser != null" >
        f_create_user = #{fCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="fUpdateTime != null" >
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fUpdateUser != null" >
        f_update_user = #{fUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where f_auto_id = #{fAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoniu.dataplatform.ruleengine.entity.Keyword" >
    update t_keyword
    set f_app_id = #{fAppId,jdbcType=VARCHAR},
      f_type = #{fType,jdbcType=VARCHAR},
      f_keyword_list = #{fKeywordList,jdbcType=VARCHAR},
      f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
      f_create_user = #{fCreateUser,jdbcType=VARCHAR},
      f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
      f_update_user = #{fUpdateUser,jdbcType=VARCHAR}
    where f_auto_id = #{fAutoId,jdbcType=INTEGER}
  </update>
</mapper>